
<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav
               [mode]="isScreenSmall() ? 'over' : 'side'"
               class="app-sidenav mat-elevation-z10"
               [opened]="!isScreenSmall()">
    <mat-toolbar color="primary">Groups of markers</mat-toolbar>

    <mat-list role="list">
      <input id="hide" type="button" value="hide" />
      <input id="show" type="button" value="show" />
      <mat-nav-list>
        <mat-list-item *ngFor="let user of users">
          <a matLine [routerLink]="['/contactmanager', user.id]">
            <mat-icon>account_circle</mat-icon>  
            {{ user.name }}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>  <!--inserts MainContentComponent-->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
