
<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav
               [mode]="isScreenSmall() ? 'over' : 'side'"
               class="app-sidenav mat-elevation-z10"
               [opened]="!isScreenSmall()">
    <mat-toolbar color="primary">Groups of markers</mat-toolbar>

    <mat-list role="list">
      <mat-nav-list>
        <mat-list-item *ngFor="let group of groups">
          <mat-slide-toggle [checked]="true"
                            (click)="toggleGroup(group.name)">
          {{ group.name }} ({{ group.coords.length }})</mat-slide-toggle>
        </mat-list-item>
      </mat-nav-list>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <app-main-content></app-main-content>
      <!--<router-outlet></router-outlet> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
